<br>


  <h3>Simulación de la partida <strong><%= @game.name %><strong></h3>
  <p>En la siguiente tabla se estarán cargando los resultados de las rondas</p>
  <table class="table">
    <thead>
      <tr class="info">
        <th rowspan="2">#</th>
        <th rowspan="2">Resultado</th>
        <% @players.each do |player| %>
        	<!-- <th><%= player.user_name %> Apuesta</th>
          <th><%= player.user_name %> Crédito</th> -->
          <th colspan="2"><%= player.user_name %></th>
        <% end %>
      </tr>
      <tr class="info">
        <% @players.each do |player| %>
          <th>Apuesta</th>
          <th>Crédito</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="simulation-running">
      
    </tbody>
  </table>

