<tr>
	<td><%= @round_num %></td>
	<td><%= @winner_color %></td>
	<% @players_bets.each do |player_bet| %>
		<% bet = Bet.find(player_bet[1]) %>
		<% box_color = Box.find(bet.box_id) %>
		<td><%= box_color.color %></td>
		<td><%= player_bet[0].credit %></td>
	<% end %>
</tr> 