<% content_for :head do %>
  <%= javascript_include_tag 'home', 'data-turbolinks-eval' => false %>
<% end %>

<h1>Comienza tu simulación</h1>
<p>Para dar comienzo a la simulación deberás seleccionar una partida existente o crear una nueva</p>
<p>Por último, selecciona los jugadores que quieres incorporar, y comienza a simular!</p>

<div class="select-games-players">
	<div class="games">
		<div class="field">
		    <label for="games">Partidas</label><br>
		    <div>
		    	<%= collection_select(:ids, :game, @games, :id, :name, prompt: false) %>
		    </div>
	  	</div>
	  	<%= link_to 'Crear Nueva Partida', new_game_path, class: 'home_bottom btn btn-link' %>
	</div>
	<div class="players">
		<div class="field">
		    <label for="players">Jugadores</label><br>
		    <div class="players_list_div">
		    	
		    	<fieldset id="checkArray">
			    	<% Player.all.each do |player| %>
			    		<input class="check" type="checkbox" id=<%= player.id %> > <%= player.user_name %><br>
			    	<% end %>
		    	</fieldset>
		    </div>
	  	</div>
	  	<%= link_to 'Crear nuevo jugador', new_player_path, class: 'home_bottom btn btn-link' %>
	</div>
</div>


<div class="start-simulation-div">
	<%= button_tag "Comenzar Simulación", {class: 'btn btn-primary', id: 'start_simul'} %>
	<%= button_tag "Detener Simulación", {class: 'btn btn-danger', id: 'stop_simul'} %>
</div>

<div class="simulation_div"></div>