<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="game_date">Nombre</label><br>
    <%= f.text_field :name %>
  </div>
  <!-- <div class="field">
    <label for="game_players">Jugadores</label><br>
    <%= f.collection_select(:player_ids, Player.all, :id, :user_name, {:prompt => "Elegir jugadores"}, {:multiple => true}) %>
  </div> -->
  <div class="actions">
    <%= f.submit "Crear Partida" %>
  </div>
<% end %>
