<p id="notice"><%= notice %></p>

<h1>Listando Partidas</h1>
<p>Para comenzar una partida deberás seleccionar una existente o crear una nueva</p>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td>
          <% game.players.each do |player| %>
            <%= player.user_name %>
          <% end %>
        </td>
        <td><%= link_to 'Ver', game %></td>
        <td><%= link_to 'Editar', edit_game_path(game) %></td>
        <td><%= link_to 'Destruir', game, method: :delete, data: { confirm: 'Seguro que quieres eliminar esta partida?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Partida', new_game_path %>
