<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="player_user_name">Nombre de usuario</label><br>
    <%= f.text_field :user_name %>
  </div>
  <% if !@player.new_record? %>
    <div class="field">
      <label for="player_credit">Credito</label><br>
      <%= f.number_field :credit %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
