<p id="notice"><%= notice %></p>

<h1>Lista de jugadores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Credito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.user_name %></td>
        <td><%= player.credit %></td>
        <td><%= link_to 'Ver', player %></td>
        <td><%= link_to 'Editar', edit_player_path(player) %></td>
        <td><%= link_to 'Destruir', player, method: :delete, data: { confirm: 'Seguro que quieres eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo jugador', new_player_path %>
