<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @player.user_name %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @player.credit %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
