// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.games {
	float: left;
	border: solid;
	padding: 10px;
}

.players {
	float: left;
	border: solid;
	padding: 10px;
}

.home_botton {
	margin-bottom: 0px;
}

.select-games-players{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.start-simulation-div{
	
}

.field{
	height: 200px;
	overflow:scroll;
}