<!DOCTYPE html>
<html>
<head>
  <title>Ruleta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
        <%= render 'layouts/navigation' %>
    </header>

	<%= yield %>

</body>
</html>
